body {
    margin: 0%;
    padding: 0%;
    background-image: url("/static/images/pexels-energepiccom-159888.jpg");
    background-size: cover;
    background-position: no-repeat;
}
.logo
{
    
    background-color: black;
    
    width: 100%;
    height: 100px;
    left: 0px;
    line-height: 50px;
    padding: 0px 10px;
    position: fixed;
    left: 0px;
    color: #006400;
    font-style: oblique;
}
.container
{
    width: 300Px;
    box-shadow: inset -15px (0, 0, 0, 0.9);
    background: #0000004d;
    padding: 50px;
    margin: 10% auto 0;
    text-align:  right ,center;
    border-radius: 50px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(10px);
    position:absolute;
    top: -20px;
    left: 1000px;
    -moz-box-align:right ;
}

.input-box
{
    border-radius: 45px;
    padding: 20px;
    margin: 10px 0;
    width: 80%;
    border: 35px ;
    outline: 0px;
}
.signup-btn{
    background-color: #006400;
}
.logo
{
    background-size: (20px);
    font-size: small;
    text-decoration: color (#006400) ;
    text-align: left;
    height:auto;
    


}











                                                                                                                                       